body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* スクロールの幅の設定 */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

/* スクロールの背景の設定 */
::-webkit-scrollbar-track {
	border-radius: 5px;
	/* box-shadow: 0 0 4px #aaa inset; */
	background-color: transparent;
}

/* スクロールのつまみ部分の設定 */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgb(96, 96, 96);
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}
